body {
    background-color: #f8f9fa;
    justify-content: center;
    align-items: center;
}

.register-container {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.disabled-link {
    pointer-events: none;
    opacity: 0.5;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
    display: none;
}

#message.show {
    display: block;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 100px;
}

.selected-card {
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.button-container-center {
    display: flex;
    gap: 10px;
}

.sticky-menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #e9ecef;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    height: 80px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.popup button {
    margin: 0 10px;
}

.popup .btn-danger {
    background-color: red;
    border-color: red;
    color: white;
}

.popup .btn-primary {
    background-color: blue;
    border-color: blue;
    color: white;
}

.card-text.w-50 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
